body {
  background-color: white;
  line-height: 20px;
  margin-left: 20px;
}
.section {
  text-align: center;
}
.class-1 {
  line-height: 35px;
  list-style: none;
  font-size: 25px;
  margin: 10px 100px;
}
.section p {

  font-size: 18px;
  line-height: 35px;
}

.section img {
  width: 500px;
  height: 330px;
  border-radius: 20px;
}

.section h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
  font-size: 45px;
  text-align: center;
}


.header img {
  width: 120px;
  height: 40px;
}

.header {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 30px 0px;
}

.nav {
  padding-right: 100px;
  line-height: 30px;
}
.nav li {
  list-style: none;
}

.aside {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aside .article-1 {
  line-height: 30px;
  font-size: 20px;
}

.aside h6 {
  font-size: 25px;
}

.footer {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: -moz-grid-line;
  justify-content: space-between;

}

.footer li {
  list-style: none;
}